*/*
!*/debian/
*/debian/*
!*/debian/*.install*
!*/debian/*.dirs*
!*/debian/changelog
!*/debian/rules
!*/debian/compat
!*/debian/control
!*/debian/execlineb.in
*/debian/s6.install
*/debian/s6.dirs
!*/debian/patches/
!*/debian/source/
!*/debian/copyright
*.tar*
*.dsc*
*.deb
*.changes
*.build
