*/*
!*/debian/
*/debian/*
!*/debian/*.install*
!*/debian/*.dirs*
!*/debian/changelog
!*/debian/rules
!*/debian/compat
!*/debian/control
!*/debian/execlineb.in
!*/debian/patches/
*.tar*
*.dsc*
*.deb
*.changes
*.build
