Source: s6-linux-utils
Section: admin
Priority: optional
Maintainer: multiplex'd <multiplexd@gmx.com>
Uploaders: multiplex'd <multiplexd@gmx.com>
Build-Depends: debhelper (>= 7.0.50~), skalibs-dev (>= 2.5.1.0), quilt
Standards-Version: 3.9.8
Homepage: http://skarnet.org/software/s6-linux-utils/

Package: s6-linux-utils
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: skalibs (>= 2.5.1.0), ${misc:Depends}, ${shlibs:Depends}
Description: Tiny Linux-specific utilities
 s6-linux-utils is a set of minimalistic Linux-specific system utilities.

Package: s6-linux-utils-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: Tiny Linux-specific utilities
 s6-linux-utils is a set of minimalistic Linux-specific system utilities.
