#!/usr/bin/make -f

PREFIX := /usr/lib/execline

%:
	dh $@

clean:
	rm -f debian/execlineb
	dh $@

binary-arch: debian/execlineb
	install -D -m 0755 debian/execlineb debian/execline/usr/bin/execlineb
	dh $@

debian/execlineb: debian/execlineb.in
	sed -e 's"@PREFIX@"$(PREFIX)"g' $< > $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--exec-prefix=$(PREFIX) \
		--with-sysdeps=/usr/lib/skalibs/sysdeps \
		--enable-shared \
		--disable-static \
		--disable-allstatic
