Source: s6
Section: admin
Priority: optional
Maintainer: Torbjörn Norinder <torbjorn@genunix.se>
Build-Depends: debhelper (>= 7), skalibs-dev (>= 2.0.0.0), execline-dev (>= 2.0.0.0), quilt
Standards-Version: 3.9.2

Package: s6
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: skalibs, ${misc:Depends}, ${shlibs:Depends}
Description: A process supervision suite.

Package: s6-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, s6 (= ${binary:Version})
Description: A process supervision suite.
