Source: s6-rc
Section: admin
Priority: optional
Maintainer: multiplex'd <multiplexd@gmx.com>
Uploaders: multiplex'd <multiplexd@gmx.com>
Build-Depends: debhelper (>= 7.0.50~), skalibs-dev (>= 2.6.0.1), execline-dev (>= 2.3.0.3), s6-dev (>= 2.6.1.1), quilt
Standards-Version: 3.9.8
Homepage: http://skarnet.org/software/s6-rc/

Package: s6-rc
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: skalibs (>= 2.6.0.1), execline (>= 2.3.0.3), s6 (>= 2.6.1.1), ${misc:Depends}, ${shlibs:Depends}
Description: service manager for skarnet's s6 process supervisor
 s6-rc is a service manager for s6-based systems, i.e. a suite of programs
 that can start and stop services, both long-running daemons and one-time
 initialization scripts, in the proper order according to a dependency tree.
 It ensures that long-running daemons are supervised by the s6 infrastructure,
 and that one-time scripts are also run in a controlled environment.

Package: s6-rc-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, s6-rc (= ${binary:Version})
Description: service manager for skarnet's s6 process supervisor
 s6-rc is a service manager for s6-based systems, i.e. a suite of programs
 that can start and stop services, both long-running daemons and one-time
 initialization scripts, in the proper order according to a dependency tree.
 It ensures that long-running daemons are supervised by the s6 infrastructure,
 and that one-time scripts are also run in a controlled environment.
