Source: execline
Section: interpreters
Priority: optional
Maintainer: multiplex'd <multiplexd@gmx.com>
Uploaders: multiplex'd <multiplexd@gmx.com>
Build-Depends: debhelper (>= 7.0.50~), skalibs-dev (>= 2.5.0.0), quilt
Standards-Version: 3.9.8
Homepage: http://skarnet.org/software/execline/

Package: execline
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: skalibs (>= 2.5.0.0), ${misc:Depends}, ${shlibs:Depends}
Description: Interpreter for the execline language
 execline is a scripting language for systems automation.

Package: execline-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, execline (= ${binary:Version})
Description: Interpreter for the execline language
 execline is a scripting language for systems automation.
