#!/usr/bin/make -f

PREFIX := /usr/lib/$(DEB_HOST_MULTIARCH)/execline

%:
	dh $@ --parallel --autodest

clean:
	rm -f debian/execlineb
	dh $@

override_dh_auto_install: debian/execlineb
	install -D -m 0755 debian/execlineb debian/tmp/usr/bin/execlineb
	dh_auto_install

debian/execlineb: debian/execlineb.in
	sed -e 's"@PREFIX@"$(PREFIX)"g' $< > $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--dynlibdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
		--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
		--sysdepdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)/\$${package}/sysdeps \
		--exec-prefix=$(PREFIX) \
		--with-sysdeps=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)/skalibs/sysdeps \
		--enable-shared \
		--disable-allstatic
