#!/usr/bin/make -f

PREFIX := /usr/lib/$(DEB_HOST_MULTIARCH)/execline
lib := \$${prefix}/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --parallel --autodest

clean:
	rm -f debian/execlineb
	dh $@

override_dh_auto_install: debian/execlineb
	install -D -m 0755 debian/execlineb debian/tmp/usr/bin/execlineb
	dh_auto_install

debian/execlineb: debian/execlineb.in
	sed -e 's"@PREFIX@"$(PREFIX)"g' $< > $@

override_dh_auto_configure: workaround
	dh_auto_configure -- \
		--libdir=$(lib) \
		--dynlibdir=$(lib) \
		--with-dynlib=$(lib) \
		--with-sysdeps=$(lib)/skalibs \
		--enable-shared \
		--disable-allstatic \
		--exec-prefix=$(PREFIX)


# workaround for older debhelper to parse the above override as non-empty
.PHONY: workaround
workaround:
