#!/usr/bin/make -f

lib := \$${prefix}/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --parallel --autodest

override_dh_auto_configure: workaround
	dh_auto_configure -- \
		--libdir=$(lib) \
		--dynlibdir=$(lib) \
		--with-dynlib=$(lib) \
		--sysdepdir=$(lib)/skalibs \
		--enable-shared \
		--disable-allstatic \
		--enable-force-devr \
		--datadir=/etc


# workaround for older debhelper to parse the above override as non-empty
.PHONY: workaround
workaround:
