#!/usr/bin/make -f

lib := \$${prefix}/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --parallel --autodest

override_dh_auto_configure:
	dh_auto_configure -- \
		--libdir=$(lib) \
		--dynlibdir=$(lib) \
		--with-dynlib=$(lib) \
		--sysdepdir=$(lib)/skalibs \
		--enable-shared \
		--disable-allstatic \
		--enable-force-devr \
		--datadir=/etc
